.btn-back{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}
.btn-save{
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}
.btn-save:hover {
    background-color: #218838;
    color: #F8F8F8;
}
.btn-back:hover {
    background-color: #0056b3;
    color: #F8F8F8;
}

.btn-primary-parking {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}
.btn-primary-parking:hover {
    background-color: #0056b3;
    color: #F8F8F8;
}

.btn-back{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}
.btn-save{
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}
.btn-save:hover {
    background-color: #218838;
    color: #F8F8F8;
}
.btn-back:hover {
    background-color: #0056b3;
    color: #F8F8F8;
}