.otp-container {
    max-width: 40%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.otp-container img {
    width: 50px;
    margin-bottom: 20px;
}
.otp-input {
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    margin: 0 5px;
}
.otp-input:focus {
    box-shadow: none;
    border-color: #28a745;
}
.btn-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
@media (max-width: 576px) {
    .otp-container {
        max-width: 100%;
        margin: 50px auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .otp-input {
        width: 40px;
        height: 40px;
        font-size: 20px;
        margin: 0 2px;
    }
}
@media (min-width: 768px) {
    .otp-container {
        max-width: 40%;
        margin: 50px auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .otp-input {
        width: 60px;
        height: 60px;
        font-size: 24px;
        margin: 0 5px;
    }
}